@-ms-viewport {
  width: device-width;
}
body {
  overflow-x: hidden;
  width: 100vw;
  font-family: "akagi-pro", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 62.5%;
  line-height: 1.8;
  color: #151515;
}

.wavy-blob {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: -1;
  overflow: hidden;
}

h1 {
  font-family: "soleil", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 1.4;
}

a {
  color: initial;
  text-decoration: none;
  font-family: "soleil", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.mobile-menu {
  background: #fff;
  width: 100%;
  padding: 170px 50px 100px 50px;
  position: fixed;
  z-index: 99;
  font-size: 2.3em;
  display: flex;
  align-items: center;
  justify-content: left;
  line-height: 2.4;
  margin-top: -460px;
  transition: all 0.2s;
}
.mobile-menu .logo {
  width: 80px;
  height: 50px;
  position: absolute;
  left: 50px;
  top: 50px;
}
.mobile-menu .logo img {
  width: 100%;
}

#mobile-burger {
  display: none;
}

#hamburger {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px 10px 5px 3px;
  font-family: "soleil", sans-serif;
  font-style: normal;
  font-weight: 500;
  background: #fff;
  position: fixed;
  right: 30px;
  top: 30px;
  color: #151515;
  z-index: 999;
  display: flex;
  width: 85px;
  transition: transform 0.3s ease-out;
}
#hamburger .menu {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
}
#hamburger .menu:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #151515;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
#hamburger .menu:after {
  content: "";
  position: absolute;
  bottom: 16px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #151515;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

#hamburger-opened {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px 10px 5px 3px;
  font-family: "soleil", sans-serif;
  font-style: normal;
  font-weight: 500;
  background: #fff;
  position: fixed;
  right: 30px;
  top: 30px;
  color: #151515;
  z-index: 999;
  display: none;
  width: 85px;
  transition: transform 0.3s ease-out;
}
#hamburger-opened .close {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
}
#hamburger-opened .close:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 12px;
  right: 12px;
  height: 2px;
  background: #151515;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translateY(3px) rotate(135deg);
  transform: translateY(3px) rotate(135deg);
}
#hamburger-opened .close:after {
  content: "";
  position: absolute;
  bottom: 16px;
  left: 12px;
  right: 12px;
  height: 2px;
  background: #151515;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translateY(-3px) rotate(45deg);
  transform: translateY(-3px) rotate(45deg);
}

.navigation {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  flex-direction: row;
}
.navigation .nav-logo {
  width: 80px;
  height: 100%;
  display: inline-block;
  margin-right: auto;
  order: 1;
}
.navigation .nav-logo img {
  width: 100%;
}
.navigation .links {
  display: inline-block;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}
.navigation .links ul > li {
  display: inline-block;
  margin-left: 70px;
}
.navigation .links .github-link {
  background: #8CDAFF;
  padding: 15px 35px;
  box-shadow: 6px 6px 0px #fff;
}

.hero {
  width: 100%;
  max-width: 1220px;
  position: relative;
  margin: 0 auto;
  padding: 50px 100px 120px 100px;
  font-size: 1.6em;
  box-sizing: border-box;
}
.hero a {
  color: #fff;
}
.hero .hero-content {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-top: 85px;
  padding-right: 80px;
  flex-direction: row;
  box-sizing: border-box;
}
.hero .hero-content .hero-txt {
  display: inline-block;
  margin-right: auto;
  margin-top: 50px;
  order: 1;
  padding-right: 60px;
}
.hero .hero-content .hero-txt .hero-title {
  font-family: "soleil", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2em;
  z-index: 1;
  line-height: 1.4;
  display: block;
}
.hero .hero-content .hero-txt .hero-subtitle {
  margin-top: 40px;
  font-size: 1.2em;
  color: #828282;
  max-width: 380px;
}
.hero .hero-content .hero-txt .hero-cta {
  margin-top: 50px;
  padding: 30px 50px;
  display: inline-block;
  background: #FFF150;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.3em;
  box-shadow: 8px 8px 0px #8CDAFF;
}
.hero .hero-content .hero-txt a {
  color: #151515;
}
.hero .hero-content .chopchop {
  width: 520px;
  height: 355px;
  position: relative;
  position: inline-block;
  order: 2;
}
.hero .hero-content .chopchop .chopchop-bot {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.hero .hero-content .chopchop .chopchop-bot img {
  width: 100%;
}
.hero .hero-content .chopchop .logo {
  width: 320px;
  position: absolute;
  left: 0;
  top: 90px;
  display: inline-block;
  height: 190px;
}
.hero .hero-content .chopchop .logo img {
  width: 100%;
}

.video-section, .search-section, .access-section, .share-section, .join-section {
  width: 100%;
  max-width: 1220px;
  position: relative;
  margin: 0 auto;
  padding: 50px 100px;
  font-size: 1.6em;
  box-sizing: border-box;
}
.video-section .video-content, .video-section .search-content, .video-section .access-content, .video-section .share-content, .video-section .join-content, .search-section .video-content, .search-section .search-content, .search-section .access-content, .search-section .share-content, .search-section .join-content, .access-section .video-content, .access-section .search-content, .access-section .access-content, .access-section .share-content, .access-section .join-content, .share-section .video-content, .share-section .search-content, .share-section .access-content, .share-section .share-content, .share-section .join-content, .join-section .video-content, .join-section .search-content, .join-section .access-content, .join-section .share-content, .join-section .join-content {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}
.video-section .video-content .vid-text, .video-section .search-content .vid-text, .video-section .access-content .vid-text, .video-section .share-content .vid-text, .video-section .join-content .vid-text, .search-section .video-content .vid-text, .search-section .search-content .vid-text, .search-section .access-content .vid-text, .search-section .share-content .vid-text, .search-section .join-content .vid-text, .access-section .video-content .vid-text, .access-section .search-content .vid-text, .access-section .access-content .vid-text, .access-section .share-content .vid-text, .access-section .join-content .vid-text, .share-section .video-content .vid-text, .share-section .search-content .vid-text, .share-section .access-content .vid-text, .share-section .share-content .vid-text, .share-section .join-content .vid-text, .join-section .video-content .vid-text, .join-section .search-content .vid-text, .join-section .access-content .vid-text, .join-section .share-content .vid-text, .join-section .join-content .vid-text {
  order: 1;
  margin-right: auto;
  font-size: 1.8em;
  line-height: 1.4em;
}
.video-section .video-content .vid-text ul > li, .video-section .search-content .vid-text ul > li, .video-section .access-content .vid-text ul > li, .video-section .share-content .vid-text ul > li, .video-section .join-content .vid-text ul > li, .search-section .video-content .vid-text ul > li, .search-section .search-content .vid-text ul > li, .search-section .access-content .vid-text ul > li, .search-section .share-content .vid-text ul > li, .search-section .join-content .vid-text ul > li, .access-section .video-content .vid-text ul > li, .access-section .search-content .vid-text ul > li, .access-section .access-content .vid-text ul > li, .access-section .share-content .vid-text ul > li, .access-section .join-content .vid-text ul > li, .share-section .video-content .vid-text ul > li, .share-section .search-content .vid-text ul > li, .share-section .access-content .vid-text ul > li, .share-section .share-content .vid-text ul > li, .share-section .join-content .vid-text ul > li, .join-section .video-content .vid-text ul > li, .join-section .search-content .vid-text ul > li, .join-section .access-content .vid-text ul > li, .join-section .share-content .vid-text ul > li, .join-section .join-content .vid-text ul > li {
  margin-top: 18px;
  padding-right: 30px;
}
.video-section .video-content .vid-text ul > li:nth-child(1), .video-section .search-content .vid-text ul > li:nth-child(1), .video-section .access-content .vid-text ul > li:nth-child(1), .video-section .share-content .vid-text ul > li:nth-child(1), .video-section .join-content .vid-text ul > li:nth-child(1), .search-section .video-content .vid-text ul > li:nth-child(1), .search-section .search-content .vid-text ul > li:nth-child(1), .search-section .access-content .vid-text ul > li:nth-child(1), .search-section .share-content .vid-text ul > li:nth-child(1), .search-section .join-content .vid-text ul > li:nth-child(1), .access-section .video-content .vid-text ul > li:nth-child(1), .access-section .search-content .vid-text ul > li:nth-child(1), .access-section .access-content .vid-text ul > li:nth-child(1), .access-section .share-content .vid-text ul > li:nth-child(1), .access-section .join-content .vid-text ul > li:nth-child(1), .share-section .video-content .vid-text ul > li:nth-child(1), .share-section .search-content .vid-text ul > li:nth-child(1), .share-section .access-content .vid-text ul > li:nth-child(1), .share-section .share-content .vid-text ul > li:nth-child(1), .share-section .join-content .vid-text ul > li:nth-child(1), .join-section .video-content .vid-text ul > li:nth-child(1), .join-section .search-content .vid-text ul > li:nth-child(1), .join-section .access-content .vid-text ul > li:nth-child(1), .join-section .share-content .vid-text ul > li:nth-child(1), .join-section .join-content .vid-text ul > li:nth-child(1) {
  margin-top: 0;
}
.video-section .video-content .video, .video-section .search-content .video, .video-section .access-content .video, .video-section .share-content .video, .video-section .join-content .video, .search-section .video-content .video, .search-section .search-content .video, .search-section .access-content .video, .search-section .share-content .video, .search-section .join-content .video, .access-section .video-content .video, .access-section .search-content .video, .access-section .access-content .video, .access-section .share-content .video, .access-section .join-content .video, .share-section .video-content .video, .share-section .search-content .video, .share-section .access-content .video, .share-section .share-content .video, .share-section .join-content .video, .join-section .video-content .video, .join-section .search-content .video, .join-section .access-content .video, .join-section .share-content .video, .join-section .join-content .video {
  order: 2;
  background: #AFE6FC;
  background: linear-gradient(to right top, #DBEDFD, #AFE6FC);
  width: 530px;
  padding: 60px 50px;
}

.video-section {
  padding-right: 0;
}

.search-section .search-content .search-img, .search-section .search-content .share-img, .search-section .share-content .search-img, .search-section .share-content .share-img, .share-section .search-content .search-img, .share-section .search-content .share-img, .share-section .share-content .search-img, .share-section .share-content .share-img {
  width: 500px;
  order: 1;
  margin-right: auto;
  padding: 30px;
}
.search-section .search-content .search-img img, .search-section .search-content .share-img img, .search-section .share-content .search-img img, .search-section .share-content .share-img img, .share-section .search-content .search-img img, .share-section .search-content .share-img img, .share-section .share-content .search-img img, .share-section .share-content .share-img img {
  width: 100%;
}
.search-section .search-content .search-text, .search-section .search-content .share-text, .search-section .share-content .search-text, .search-section .share-content .share-text, .share-section .search-content .search-text, .share-section .search-content .share-text, .share-section .share-content .search-text, .share-section .share-content .share-text {
  order: 2;
  padding-left: 80px;
  width: 520px;
  font-size: 1.3em;
  margin-top: 35px;
}
.search-section .search-content .search-text p, .search-section .search-content .share-text p, .search-section .share-content .search-text p, .search-section .share-content .share-text p, .share-section .search-content .search-text p, .share-section .search-content .share-text p, .share-section .share-content .search-text p, .share-section .share-content .share-text p {
  margin-top: 20px;
  color: #828282;
}

.access-section .access-content .access-img {
  background: yellow;
  order: 2;
  max-width: 520px;
  padding: 10px 20px;
  text-align: center;
  background: linear-gradient(to right top, #DBEDFD, #AFE6FC);
}
.access-section .access-content .access-img img {
  width: 90%;
}
.access-section .access-content .access-text {
  order: 1;
  margin-right: auto;
  width: 500px;
  font-size: 1.3em;
  padding-right: 55px;
}
.access-section .access-content .access-text p {
  margin-top: 20px;
  color: #828282;
}

.join-section {
  max-width: 680px;
  padding: 150px 100px;
}
.join-section .join-content .join-text {
  width: 360px;
  order: 1;
  margin-right: auto;
  font-size: 3em;
  line-height: 1.3;
}
.join-section .join-content .messenger-txt {
  font-family: "soleil", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.join-section .join-content .join-img {
  width: 120px;
  height: 120px;
  order: 2;
}
.join-section .join-content .join-img img {
  width: 100%;
}

footer {
  width: 100%;
  max-width: 1220px;
  position: relative;
  margin: 0 auto;
  paddin-top: 60px;
  font-size: 1.6em;
  box-sizing: border-box;
}
footer .footer-content {
  background: #DAEDFD;
  margin-right: 100px;
  padding: 80px 50px 80px 100px;
}
footer .footer-content .copyright {
  text-align: right;
  margin-top: 100px;
}

@media screen and (max-width: 1220px) {
  .hero {
    overflow: hidden;
  }
}
@media screen and (max-width: 1090px) {
  .wavy-blob {
    width: 60%;
  }

  .hero .hero-content .hero-txt .hero-title {
    font-size: 2.6em;
  }

  .video-section .video-content .vid-text {
    font-size: 1.6em;
  }

  #mobile-burger {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .wavy-blob {
    width: 60%;
  }

  .hero .hero-content .hero-txt .hero-title {
    font-size: 2.3em;
  }
  .hero .hero-content .hero-txt .hero-cta {
    padding: 30px 30px;
  }

  .video-section .video-content .vid-text {
    font-size: 1.6em;
  }

  #mobile-burger {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .wavy-blob {
    width: 60%;
  }

  .hero {
    padding: 50px 20px 120px 50px;
  }

  .video-section, .search-section, .access-section, .share-section {
    padding-left: 50px;
  }
  .video-section .video-content .vid-text, .search-section .video-content .vid-text, .access-section .video-content .vid-text, .share-section .video-content .vid-text {
    font-size: 1.5em;
  }
  .video-section .video-content .video, .search-section .video-content .video, .access-section .video-content .video, .share-section .video-content .video {
    padding: 40px;
    width: 400px;
  }

  .search-section, .access-section, .share-section {
    padding-right: 50px;
  }
  .search-section .search-content .search-img, .access-section .search-content .search-img, .share-section .search-content .search-img {
    padding: 0;
  }
  .search-section .access-content .access-img, .access-section .access-content .access-img, .share-section .access-content .access-img {
    padding: 0;
  }
  .search-section .share-content .share-img, .access-section .share-content .share-img, .share-section .share-content .share-img {
    padding: 0;
  }

  footer .footer-content {
    margin-right: 50px;
  }

  #mobile-burger {
    display: none;
  }
}
@media screen and (max-width: 746px) {
  .wavy-blob {
    width: 65%;
    top: -60px;
  }

  .hero .hero-content {
    padding-right: 10px;
    align-items: center;
  }
  .hero .hero-content .hero-txt {
    padding-right: 0px;
    margin-right: auto;
  }
  .hero .hero-content .hero-txt .hero-title {
    font-size: 2.6em;
  }
  .hero .hero-content .hero-txt .hero-subtitle {
    max-width: 340px;
  }
  .hero .hero-content .chopchop {
    width: 340px;
    height: 355px;
  }

  #mobile-burger {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .wavy-blob {
    width: 60%;
  }

  #mobile-burger {
    display: flex;
  }

  .hero .navigation .links {
    display: none;
  }
  .hero .hero-content {
    padding-right: 20px;
    align-items: center;
    flex-direction: column;
  }
  .hero .hero-content .hero-txt {
    padding-right: 0;
    margin-right: auto;
    order: 2;
  }
  .hero .hero-content .hero-txt .hero-cta {
    width: 78%;
    margin-top: 40px;
  }
  .hero .hero-content .hero-txt .hero-title {
    font-size: 3em;
  }
  .hero .hero-content .hero-txt .hero-subtitle {
    max-width: 100%;
    font-size: 1.8em;
    line-height: 1.6;
  }
  .hero .hero-content .chopchop {
    width: 80%;
    height: auto;
    padding-bottom: 65%;
    order: 1;
  }

  .video-section, .access-section {
    padding-right: 0;
    padding-left: 0;
  }
  .video-section .video-content, .video-section .access-content, .access-section .video-content, .access-section .access-content {
    flex-direction: column;
    align-items: center;
  }
  .video-section .video-content .video, .video-section .access-content .video, .access-section .video-content .video, .access-section .access-content .video {
    order: 1;
    box-sizing: border-box;
    width: 100%;
  }
  .video-section .video-content .vid-text, .video-section .access-content .vid-text, .access-section .video-content .vid-text, .access-section .access-content .vid-text {
    order: 2;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    font-size: 1.8em;
  }
  .video-section .video-content .access-text, .video-section .access-content .access-text, .access-section .video-content .access-text, .access-section .access-content .access-text {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    width: auto;
  }
  .video-section .video-content .access-text p, .video-section .access-content .access-text p, .access-section .video-content .access-text p, .access-section .access-content .access-text p {
    font-size: 1.2em;
  }
  .video-section .video-content .access-img, .video-section .access-content .access-img, .access-section .video-content .access-img, .access-section .access-content .access-img {
    width: 100%;
    max-width: 100%;
  }

  .search-section, .share-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .search-section .search-content, .search-section .share-content, .share-section .search-content, .share-section .share-content {
    flex-direction: column;
    align-items: center;
  }
  .search-section .search-content .search-img, .search-section .search-content .share-img, .search-section .share-content .search-img, .search-section .share-content .share-img, .share-section .search-content .search-img, .share-section .search-content .share-img, .share-section .share-content .search-img, .share-section .share-content .share-img {
    order: 2;
    width: 100%;
  }
  .search-section .search-content .search-text, .search-section .search-content .share-text, .search-section .share-content .search-text, .search-section .share-content .share-text, .share-section .search-content .search-text, .share-section .search-content .share-text, .share-section .share-content .search-text, .share-section .share-content .share-text {
    order: 1;
    width: 100%;
    padding-left: 0;
  }
  .search-section .search-content .search-text p, .search-section .search-content .share-text p, .search-section .share-content .search-text p, .search-section .share-content .share-text p, .share-section .search-content .search-text p, .share-section .search-content .share-text p, .share-section .share-content .search-text p, .share-section .share-content .share-text p {
    font-size: 1.2em;
  }
  .search-section .search-content .share-text, .search-section .share-content .share-text, .share-section .search-content .share-text, .share-section .share-content .share-text {
    margin-bottom: 50px;
  }

  .search-section {
    border-top: 1px solid #eee;
  }

  .share-section {
    border-bottom: 1px solid #eee;
  }

  .join-section {
    padding: 70px 100px 110px 100px;
  }
  .join-section .join-content {
    flex-direction: column;
  }
  .join-section .join-content .join-img {
    margin-top: 40px;
  }
  .join-section .join-content .join-text {
    text-align: center;
    width: auto;
    margin: initial;
  }

  footer .footer-content {
    margin-right: 0;
    padding: 50px;
    text-align: center;
  }
  footer .footer-content .navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
  }
  footer .footer-content .navigation .nav-logo {
    width: 180px;
  }
  footer .footer-content .navigation .links {
    margin-top: 60px;
    font-size: 1.2em;
    line-height: 3;
  }
  footer .footer-content .navigation .links ul > li {
    margin-left: 0;
    display: block;
  }
}
@media screen and (max-width: 449px) {
  .wavy-blob {
    width: 60%;
  }

  .hero .hero-content .hero-txt .hero-title {
    font-size: 2.2em;
  }

  .hero .hero-content .hero-txt .hero-subtitle {
    font-size: 1.5em;
  }

  .hero .hero-content .hero-txt .hero-cta {
    width: 100%;
  }

  .video-section {
    padding-top: 0px;
  }
  .video-section .video-content .vid-text {
    font-size: 1.4em;
  }

  .search-section .search-content .search-text, .search-section .search-content .access-text, .search-section .search-content .share-text, .search-section .access-content .search-text, .search-section .access-content .access-text, .search-section .access-content .share-text, .search-section .share-content .search-text, .search-section .share-content .access-text, .search-section .share-content .share-text, .access-section .search-content .search-text, .access-section .search-content .access-text, .access-section .search-content .share-text, .access-section .access-content .search-text, .access-section .access-content .access-text, .access-section .access-content .share-text, .access-section .share-content .search-text, .access-section .share-content .access-text, .access-section .share-content .share-text, .share-section .search-content .search-text, .share-section .search-content .access-text, .share-section .search-content .share-text, .share-section .access-content .search-text, .share-section .access-content .access-text, .share-section .access-content .share-text, .share-section .share-content .search-text, .share-section .share-content .access-text, .share-section .share-content .share-text {
    font-size: 1.4em;
  }
  .search-section .search-content .search-text p, .search-section .search-content .access-text p, .search-section .search-content .share-text p, .search-section .access-content .search-text p, .search-section .access-content .access-text p, .search-section .access-content .share-text p, .search-section .share-content .search-text p, .search-section .share-content .access-text p, .search-section .share-content .share-text p, .access-section .search-content .search-text p, .access-section .search-content .access-text p, .access-section .search-content .share-text p, .access-section .access-content .search-text p, .access-section .access-content .access-text p, .access-section .access-content .share-text p, .access-section .share-content .search-text p, .access-section .share-content .access-text p, .access-section .share-content .share-text p, .share-section .search-content .search-text p, .share-section .search-content .access-text p, .share-section .search-content .share-text p, .share-section .access-content .search-text p, .share-section .access-content .access-text p, .share-section .access-content .share-text p, .share-section .share-content .search-text p, .share-section .share-content .access-text p, .share-section .share-content .share-text p {
    font-size: 1em;
    line-height: 1.6;
  }

  .access-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #mobile-burger {
    display: flex;
  }

  footer .footer-content {
    margin-right: 0;
    padding: 50px;
    text-align: center;
  }
  footer .footer-content .navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
  }
  footer .footer-content .navigation .nav-logo {
    width: 180px;
  }
  footer .footer-content .navigation .links {
    margin-top: 60px;
    font-size: 1.2em;
    line-height: 3;
  }
  footer .footer-content .navigation .links ul > li {
    margin-left: 0;
    display: block;
  }
}
@media screen and (max-width: 390px) {
  .mobile-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-menu .mobile-nav {
    margin: 0 auto;
  }
}
